<table class="table">
  <thead>
    <tr>
      <th></th>
      <th
        class="selectable"
        *ngFor="let value of plansComparative[0].values; let i = index"
        (click)="onPlanSelected(i)"
      >
        {{ i + 1 }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plan of plansComparative">
      <ng-container *ngIf="hasValue(plan)">
        <th>{{ plan.key }}</th>
        <td
          *ngFor="let value of plan.values"
          [ngClass]="setBetterOptionClass(plan, value)"
        >
          {{ value }}
        </td></ng-container
      >
    </tr>
  </tbody>
</table>
