<div class="container fluid my-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Step</th>
        <th scope="col">Item</th>
        <th>Recipe</th>
        <th>Item/minute</th>
        <ng-container *ngIf="planGoal.itemId">
          <th>Products</th>
          <th>Ingridients</th>
          <th>Machines</th>
          <th>Power</th>
          <th>Overflow</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planRow of plan">
        <td>{{ planRow.step }}</td>
        <td>
          <ng-container *ngIf="planRow.isGoal; else itemNotGoal">
            <select
              name="itemGoal"
              id="itemGoal"
              class="form-select"
              [(ngModel)]="planRow.itemId"
              (change)="selectItemGoal()"
            >
              <option value=""></option>
              <option *ngFor="let item of items" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
          </ng-container>
          <ng-template #itemNotGoal> </ng-template>
        </td>
        <td>
          <select
            [name]="planRow.itemId + 'recipe'"
            [id]="planRow.itemId + 'recipe'"
            class="form-select"
            [ngModel]="planRow.selectedRecipeId"
          >
            <option
              *ngFor="let recipe of planRow.recipes"
              [value]="recipe.id"
            >
              {{ recipe.name }}
            </option>
          </select>
        </td>
        <td>
          <ng-container *ngIf="planRow.isGoal; else ipmNotGoal">
            <input type="number" class="form-control" [(ngModel)]="planRow.itemsPerMinute">
          </ng-container>
          <ng-template #ipmNotGoal></ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
