.add-item-goal:hover {
  cursor: pointer;
  background-color: #2b3035;
}

.add-item-goal:active {
  background-color: #1a1d20;
}

.btn-danger {
  visibility: hidden;
}

.deletable:hover .btn-danger {
  visibility: visible;
}
