<div class="container fluid my-4">
  <div class="" *ngIf="isPlanCreated()">
    <app-planner-total
      [plan]="plan"
      (sendPlanSelectedEvent)="setPlanSelected($event)"
    ></app-planner-total>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Step</th>
        <th (click)="addItemGoal()" class="add-item-goal">Item</th>
        <th>Recipe</th>
        <th>Item/minute</th>
        <ng-container *ngIf="isPlanCreated()">
          <th>Products</th>
          <th>Ingridients</th>
          <th>Machines</th>
          <th>Power</th>
          <th>Overflow</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let planRow of plan"
        [ngClass]="planRow.rowClasses"
        (click)="activeteRow(planRow)"
      >
        <td>
          <div class="d-flex justify-content-between">
            <div>{{ planRow.step }}</div>
            <div [ngClass]="planGoals.length > 1 ? 'deletable' : ''">
              <button
                class="btn btn-danger btn-sm"
                (click)="deletePlanGoal(planRow.id)"
              >
                X
              </button>
            </div>
          </div>
        </td>
        <td>
          <ng-container *ngIf="planRow.isGoal; else itemNotGoal">
            <select
              name="itemGoal"
              id="itemGoal"
              class="form-select"
              [(ngModel)]="planRow.itemId"
              (change)="selectItemGoal(planRow.id)"
            >
              <option value=""></option>
              <option *ngFor="let item of items" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
          </ng-container>
          <ng-template #itemNotGoal>{{ planRow.item.name }} </ng-template>
        </td>
        <td>
          <ng-container
            *ngIf="!planRow.item.isResource && !planRow.isByProduct"
          >
            <select
              [name]="planRow.itemId + 'recipe'"
              [id]="planRow.itemId + 'recipe'"
              class="form-select"
              [(ngModel)]="planRow.selectedRecipeId"
              (change)="changeRecipe(planRow.id)"
            >
              <option
                *ngFor="let recipe of planRow.recipes"
                [value]="recipe.id"
              >
                {{ recipe.name }}
              </option>
            </select></ng-container
          >
        </td>
        <td>
          <ng-container *ngIf="planRow.isGoal; else ipmNotGoal">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="planRow.itemsPerMinute"
              [disabled]="!planRow.itemId"
            />
          </ng-container>
          <ng-template #ipmNotGoal
            >{{ planRow.itemsPerMinute }}/Min</ng-template
          >
        </td>
        <ng-container *ngIf="isPlanCreated()">
          <td>
            <table class="table">
              <tbody>
                <tr *ngFor="let product of planRow.selectedRecipe.products">
                  <td>{{ product.item.name }}</td>
                  <td>{{ product.amountPerMinute }}/Min</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table class="table">
              <tbody>
                <tr
                  *ngFor="let ingridient of planRow.selectedRecipe.ingridients"
                >
                  <td>{{ ingridient.item.name }}</td>
                  <td>
                    {{
                      ingridient.amountPerMinute * planRow.machinesNumber
                    }}/Min
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <div
              class="d-flex justify-content-between"
              *ngIf="!planRow.item.isResource && !planRow.isByProduct"
            >
              <div class="me-2">{{ planRow.machine.name }}</div>
              <div>{{ planRow.machinesNumber }}</div>
            </div>
          </td>
          <td class="text-nowrap">
            <div *ngIf="!planRow.item.isResource && !planRow.isByProduct">
              {{ planRow.powerConsumption }} MW/Min
            </div>
          </td>
          <td>
            <div *ngIf="!planRow.item.isResource && !planRow.isByProduct">
              {{ planRow.overflow }}
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
