<div class="my-1">
  <app-comparative
    #comparative
    [planTotal]="planTotal"
    [planToCompare]="plan"
    (selectPlanEvent)="sendSelectedPlan($event)"
  ></app-comparative>
</div>
<div
  class="
    d-flex
    justify-content-between
    my-2
    bg-body-secondary
    p-3
    border border-dark
  "
>
  <button class="btn btn-success btn-sm" (click)="addComparative(comparative)">
    Compare
  </button>
  <app-export-excel [plan]="plan" [planTotal]="planTotal"></app-export-excel>
</div>

<table class="table">
  <thead class="text-center">
    <tr>
      <th colspan="3"><h5>Total</h5></th>
    </tr>
    <tr>
      <th>Inputs</th>
      <th>Outputs</th>
      <th>Machines</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <table class="table">
          <tbody>
            <tr *ngFor="let input of planTotal.inputs">
              <td>{{ input.name }}</td>
              <td>{{ input.amount }}/Min</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table">
          <tbody>
            <tr *ngFor="let output of planTotal.outputs">
              <td>{{ output.name }}</td>
              <td>{{ output.amount }}/Min</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table">
          <tbody>
            <tr *ngFor="let machine of planTotal.machines">
              <td>{{ machine.name }}</td>
              <td>{{ machine.amount }}</td>
              <td>{{ machine.totalPower }} MW/Min</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <th colspan="2" class="text-end">Total:</th>
      <td>{{ planTotal.totalPowerConsumption }} MW/Min</td>
    </tr>
  </tbody>
</table>
